<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>geography test</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<h3>Do you know whitch cities are on the photos?</h3>
<form action="/rezultat" method="post">
    {% set count = 0 %}
    {% for city in cities %}
    {% set count = count + 1 %}
    <h3>{{ count }}</h3>
    <img src="{{ city['image'] }}"> <br>
    <input name="{{ city['name'] }}" placeholder="Enter capital of city {{ count }}">
    <br>
    {% endfor %}
    <input type="submit" value="Send"/>
</form>
</body>
</html>